:root {
  --eicasWhite: white;
  --eicasBlack: black;
  --eicasGrei: #4e4e4e;
  --eicasBlu: #00b7ff;
  --eicasFrameBlue: #00c3ff;
  --eicasFrameBorderDarkBlue: #003444;
  --eicasGreen: lime;
  --eicasOrange: #db7200;
  --eicasRed: red;
  --eicasMagenta: #D570FF; }
  :root text {
    font-family: "BoeingEFIS"; }

@font-face {
font-family: "BoeingEFIS";
src: url("/Fonts/BoeingEFIS.ttf") format("truetype");
font-weight: normal;
font-style: normal; }

b777-lower-eicas-hyd {
position: relative;
left: 0%;
width: 100%;
top: auto;
height:100%;
display: block; }
b777-lower-eicas-hyd svg {
  width: 100%;
  height: 100%; }
b777-lower-eicas-hyd text {
  fill: var(--eicasWhite);
  font-size: 19px; }

b777-lower-eicas-hyd #Frame #Box rect{
  stroke: var(--eicasFrameBlue);
  stroke-width: 2px;
}
b777-lower-eicas-hyd #Frame #Text text{
  font-size: 17px;
  fill: var(--eicasBlu);
}
b777-lower-eicas-hyd #Frame #pressBox rect{
  stroke: var(--eicasFrameBorderDarkBlue);
  stroke-width: 2px;
  fill: var(--eicasGrei);
}
b777-lower-eicas-hyd #Frame #borderPressBox rect{
  fill: var(--eicasFrameBlue);
}
b777-lower-eicas-hyd #Frame #textBox rect{
  fill: var(--eicasBlack);
}

b777-lower-eicas-hyd #value text{
  font-size: 19px;
  fill: var(--eicasWhite);
  text-anchor: "end";
}

b777-lower-eicas-hyd #pumps rect{
  fill: none;
  stroke-width: 2.5px;
  stroke: var(--eicasWhite);
}

b777-lower-eicas-hyd #baseHydLine line{
  stroke-width: 2.5px;
  stroke: var(--eicasWhite);
}

b777-lower-eicas-hyd #triangleDirections polygon{
  stroke-width: 1.5px;
  stroke: var(--eicasWhite);
  fill: none;
}